:root {
  --primary-color: #2563eb;
  --secondary-color: #64748b;
  --text-color: #0f172a;
  --white: #ffffff;
  --black: #000000;
  --background-color: #373737;
  --navigation-background-color: #f0f0f0;
}
